#wrapper1 {
margin: 0;
padding: 0;
}
#wrapper2 {
margin: 0;
padding: 0;
}
#header {
display: none;
}
#sidebar-left {
display: none;
}
#sidebar-right {
display: none;
}
#main {
width: 100%;
}
#footer {
display: none;
}
hr.hide {
display: none;
}
.centercolumn {
width: 80%;
margin: 0;
padding: 0;
}
