/* SpreadFirefox */
/*<group=HTML>*/

body {
  color: #333;
  font-family: verdana, sans-serif;
  padding: 10px 15px 0px 15px;
  margin: 0;
  background-color: #fff;
}
p {
  padding: 0;
  margin: 0;
  margin-bottom: 0.8em;
} 
hr {
  border: 1px dashed #666;
}
pre {
  background-color: #efefef;
  padding: 0.75em 1.5em;
  border: 1px solid #ddd;
  width: 90%;
  overflow: scroll;
}
code {
  white-space: pre;
}
pre code {
  overflow: auto;
  margin: 1em .5em;
  padding: .2em;
  border: solid 1px;
}
.type code {
  white-space: normal;
}
img { 
  border: 0; 
}
blockquote {
  border: 0 #ddd dashed;
  border-width: 1px 0;
  margin: 0.5em 1.0em;
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.2em 0;
  padding: 0 0 0.1em 0;
  border-bottom: 1px solid #ccc;
  font-family: arial, verdana, sans-serif;
}
h3 { 
  padding-bottom: 0.2em; 
  margin-bottom: 0; 
}
h6 { 
  border: 0; 
}
form {
  width: 99%;
}
  /*</group>*/

/*<group=Typography>*/

/* Font sizes, font faces, font-style */

body {
  font-size: 76%;  
}
code {
  font-family: 'andale mono', 'Courier New', Monaco, monospace;
}
#header, .main-content, #footer {
  font-family: verdana, sans-serif;
}
h1, h2, .form-item label, .main-content .node .links {
  font-weight: normal;
}
blockquote, .description, #help, .main-content .links .read-more {
  font-style: italic;
}
h3, h4, h5, h6, #site-name, #site-slogan, .main-content .breadcrumb, .comment .title, .comment-folded .subject, #help:before, fieldset legend, input[type="submit"], .comment .new, .comment-folded .new, #block-user-1 h2 span {
  font-weight: bold;  
}
#site-name {
  font-size: 2.5em;
}
#mission h2 {
  font-size: 2.25em;
}
#content-title, #title, h1, #maintitle, .main-content h2, .main-content .box h2, .main-content .node h2 { 
  font-size: 160%; 
}
h2, pre, #site-slogan, form #body, .form-item textarea, form #signature {
  font-size: 150%;
}
h3, .sidebar .block h2, .item-list .title, .comment .title, .comment-folded .subject, button.form-submit, form #title, #block-user-1 h2 span, code {
  font-size: 120%;
}
h4, h5, h6, #search .form-text, #sidebar-left h2, .sidebar .block-search .form-submit, .sidebar .block .content, #main-nav a, fieldset legend, .form-item label, .comment select, #pager, input, textarea, #footer, #block-user-1 .content .menu  {
  font-size: 100%;
}
#sidebar-left .block .content {
  font-size: 95%;
}
.main-content .node .info, #header form label, #header form input, #header form #submit, #breadcrumbs, .main-content .breadcrumb, .main-content td, .main-content th, #help, #block-block-25 .earners, #block-block-25 .h-nav-list, #block-user-0 .item-list {
  font-size: 90%;
}
.node .links, .comment .links, .comment .new, .comment .author, span.credit, .comment-folded .new, .box select {
  font-size: 80%;
}
  /*</group>*/

/*<group=Header>*/

/* Header */

#header {
  background: #105D90 url(images/bg_header_bottom_left.png) bottom left repeat-x;
  position: relative;
  height: 68px;
  margin: 0;
  margin-bottom: 1em; 
  voice-family: "\"}\"";
  voice-family: inherit;
  padding: 4px 4px;
}
#ignored {
}
#header h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 2px;
  border: none;
  background: url(images/bg_header_top_left.gif) no-repeat;
  height: 8px;
  z-index: 100; /* above the UL */
}
#header h1 a {
  display: block;
  height: 60px;
  text-indent: -700em;
  text-decoration: none;
}

/* Search Field */

#header .form-item {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 80px 0 0;
  background: url(images/bg_header_top_right.gif) no-repeat top right;
  margin: 0; /* need for IE Mac */
  text-align: right; /* need for IE Mac */
  white-space: nowrap; /* for Opera */
} 

#header .form-submit {
  position: absolute;
  top: 12px;
  right: 10px;
  margin: 0; /* need for IE */
  background: #105D90;
  color: #fff;
  padding: 1px 4px;
  border-right: 1px solid #283043;
  border-bottom: 1px solid #283043;
  border-top: 1px solid #9097A2;
  border-left: 1px solid #9097A2;
}
#header form #edit-keys {
  width: 170px;
  font-size: 85%;
  border:  1px solid #9097A2;
  background: #EAEBEB url(images/bg_input.png) bottom repeat-x;
  padding: 2px;
}
#header form #q:hover, #header form #q:focus {
  background: #fff;
}
#site-name, #site-name a, #header a { 
  color: #fff; 
  text-decoration: none; 
}
#site-name {
  margin: 1px 1px 1px 1px;
}

#region_header {
  position: absolute;
  left: 120px;
  top: 2px;
  margin: 0px;
  padding: 0px;
  width: 468px;
  height: 60px;
  border: none;
  color: #fff; 
}  
 
#banner {
  position: absolute;
  left: 120px;
  top: 2px;
  margin: 0px;
  padding: 0px;
  width: 468px;
  height: 60px;
  border: none;
}
  /*</group>*/
/*<group=Navigation>*/

#header ul {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0 15px 0 0;
  list-style: none;
  /* background: url(images/bg_header_bottom_right.gif) no-repeat bottom right; */
  z-index: 90; /* below the H1 */
}
#header li {
  float: right;
  background: transparent url(images/header_tab.png) 100% -600px no-repeat;
  padding: 0 6px 0 0;
  margin: 0 1px 0 0;
  display: inline;
  white-space: nowrap;
  border-bottom: 1px solid #515358;
}
#header ul a {
  float: left;
  display: block;
  padding: 4px 4px 4px 10px;
  background: transparent url(images/header_tab.png) 0% -600px no-repeat;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#header ul li:hover a { 
  background-position: 0% -400px; 
}
#header ul li:hover { 
  background-position: 100% -400px; 
}
#current a {
  color: #C20508;
  text-decoration: underline;
}

#breadcrumbs {
  display: block;
  margin: 6px 0;
  padding: 0;
}  
#breadcrumbs span, .breadcrumb {
  display: inline;  
  padding-bottom: 0;
  padding: 0;
  margin: 0;
}

  /*</group>*/
/*<group=Footer>*/

/* Footer */
#footer {
  border-top: 1px solid #666;
  margin: 2em 0;
  padding: 1em 0;
  text-align: center;
  font-size: 0.8em;
  color: #666;
}  
#footer span, #footer a {
  white-space: nowrap;
  /* padding: 0 1em; */
}  
#footer p span, #footer p a {
  white-space: nowrap;
  /* padding: 0 0.3em; */
}
#footer span a {
  padding: 0;
}
#footer ul {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}
#footer li {
  display: inline;
  padding: 0 20px 0 0;
  margin: 0;
  white-space: nowrap;
}  
#footer p {
  margin: 0.6em 0;
}
#footer a {
  text-decoration: underline;  
}
#footer p a:hover {
  color: #000;
}
   
  /*</group>*/

/*<group=Main Content>*/
/*<group=Intro Block>*/

#main {
float: left;
}

  /*</group>*/
/*<group=Mission>*/
#mission:before {
  line-height: 0.1;
  font-size: 1px;
  margin: 0;
  height: 8px;
  display: block;
  content: url(images/key-point_tl.gif);
  background: transparent url(images/menu_tr.gif) no-repeat top right;

}
#mission h2 {
  padding: 0 0.5em;
  margin: 0;
  border: 0;
  display: block;
  border-right: 1px solid #D1D1B8;
}
#mission {
  background-color: #ffffe5;

}
#mission:after {
  display: block;
  padding-top: 0;
  line-height: 0.1;
  font-size: 1px;
  content:  url(images/feature_bl.png); 
  margin: 0;
  height: 8px;
  background: transparent url(images/feature_br.png) scroll no-repeat bottom right;
}
  
  /*</group>*/
#message {
  padding: 0.5em 1.0em;
  margin: 1.0em 0 6px 0;
  line-height: 1.4em;
  color: #333;
  background: url(images/bg_message.gif) top left repeat;
}
#content-title, #title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.main-content {
  width: 99%; /* needed for IE */
  padding: 0;
  margin: 0;
  line-height: 1.3; /* value other than 'normal' needed for WinIE */
}
.main-content .node {
  margin: 0 8px;
  margin-bottom: 1.0em;
}
#content-title, #title, .main-content h2, .main-content h2 a {
  color: #000;
}
.main-content h2 a {
  text-decoration: none;
}
.main-content h2 a:link { 
  color: #000; 
}
.main-content h2 a:visited { 
  color: #000; 
}
.main-content h2 a:hover { 
  color: #039; 
}
.main-content .node .content, .comment .content {
  line-height: 150%;
}
.main-content .node .content {
  padding: 5px 10px;
  margin: 0;
}
.main-content .node .info {
  margin: 0;
  color: #777;
  background-color: transparent;
}
.main-content .node .info .taxonomy {
  display: inline;
}
.main-content .node .links, .main-content .comment .links {
  padding: 5px 0;
  margin: 1em 8px;
  border-top: 1px dotted #ddd;
  text-align: right;
}
.main-content .comment .links {
  margin-bottom: 0;
}
.main-content .links .read-more {
  background: transparent;
} 
.main-content .breadcrumb {
  padding: 0px;
  margin: 0 0 10px 10px;
  color: #6b0;
} 
.main-content .breadcrumb a:first-letter {
  text-transform: uppercase;
}
/* Profile Formatting */
.profile { 
  clear: none;
} 

/* fix the whitespace issues */

.book .nav, .book .nav .links, .book .nav .titles {
  clear: none;
}
.node-form .admin,
.node-form .authored,
.node-form .standard {
  clear: none;
}
#pager {
  clear: none;
}
#aggregator .news-item {
  clear: none;
}
#aggregator .news-item .description {
  clear: none;
}
#access-rules .mask {
  clear: none;
}

/* Box Formatting */
.main-content .box {
  background-color: #EDF3F9; 
  border: 1px solid #CFE4F3;
  padding: 0;
  margin: 0 1.0em 2.0em 1.0em;
}
.main-content .box h2 {
  padding: 5px 5px 0 10px;
  margin: 0;
  color: #3579B2;
  background-color: #CFE4F3;
  border-bottom: 1px dotted #3579B2;
}
.main-content .box .content {
  padding: 0.5em;
}

/* Comments & Related Tools */  
.comment {
  padding: 1.0em;
  margin: 0.5em 0;
}  
.comment-folded {
  padding: 0.5em;
  margin: 0.5em 0;
}
.comment-folded .new {
  text-align: right;
  float: right;
  color: #fc0;
}
.comment-new {
  border-left: 1.0em solid #EDF3F9;
  margin: 0 1.0em 2.0em 1.0em;
  padding-left: 1.5em;
  background-color: #e7e7e7;
}
.comment .title, .comment-folded .subject {
  color: #777;
}
.comment .new {
  text-align: right;
  float: right;
  color: red;
}
.comment .author, span.credit {
  color: #999;
  padding-bottom: 1.0em;
}
.comment .content {
  padding-top: 0.5em;
  margin-left: 1.0em;
}
.description, #help {
  padding: 0.5em 1.0em;
  margin: 1.0em 0 6px 0;
  line-height: 1.4em;
  color: #333;
}
.description {
  border: dotted #999;
  border-width: 1px 0;
}
.description:before {
  content: "Note: "; 
  color: #004D81;
}
#help { 
  cursor: help;
  background: url(images/bg_help.gif) top left repeat;
}
#help:before {
  content: "Help: ";
  font-style: normal;
  font-weight: normal;
}
   
  /*</group>*/

/*<group=Sidebar>*/
.sidebar {
  padding: 0;
  margin: 0;  
}
.sidebar table, .sidebar th, .sidebar td {
  border: 0;
}
.sidebar .block h2 {
  padding: 5px;
  margin: 0;
  margin-top: 1.0em;
  color:  #1D9101;
}
.sidebar .block {
  margin-left: 0;
  padding: 0;
}
.sidebar .block .content {
  padding: 0;
  margin: 0;
}
.sidebar .block .item-list li {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0.5em;
  list-style: none;
}
.sidebar .block .content .xml-icon {
  text-align: center;
  padding: 1.0em 0;
}
.sidebar .block input.form-text {
  width: 120px;
}
.sidebar .block-search input.form-text {
  width: 100px;
  padding: 1px;
  margin-right: 5px;
}
.sidebar .block-search button.form-submit { 
  width: 60px;
}
/*<group=Sidebar Right>*/

#sidebar-right .block {
  width: 247px;
  background: repeat-y left top url(images/sidebar_box_bg.png);
  margin: 0;
  padding: 0;
}
#sidebar-right .block h2 {
  background: no-repeat top left url(images/sidebar_box_top.png);  
  margin: 0;
  width: auto;
  padding: 0.8em 1.0em 0.5em 0.9em; 
  color: #1D9101;
  font-weight: bold;
  border: none;
}
#sidebar-right .block .content {
  background: no-repeat bottom left url(images/sidebar_box_bottom.png);  
  width: auto;
  margin: 0;
  padding: 0 1.0em 1.5em 1.0em;
}
/*</group>*/

/* block-contact */  
.block-contact form input[type="submit"] {
  margin-top: 0;
}

  /*</group>*/

/*<group=Tables>*/

.main-content table {
  width: 99%; /* needed for IE */
  overflow: scroll;
  border: 1px solid #BDCEE1;
  padding: 0;
  margin: 0;
  margin-bottom: 1.0em; 
}
td, th, .main-content td {
  border: 1px solid #BDCEE1;
  padding: 2px;
  margin: 0;  
  vertical-align: top;
}
.main-content th {
  border: 0;
  border-bottom: 1px solid #BDCEE1;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}
tr.even {
  background-color: #e7e7e7; 
}
tr.odd {
  background-color: #efefef; 
}
td.watchdog-special {
  background-color: #C9DCEF;
}
td.watchdog-user {
  background-color: #EFEAC9;
}

  /*</group>*/

/*<group=Forms>*/
/*<group=Fieldset>*/
.main-content fieldset legend {
  display: block;
  color: #039;
}
.main-content fieldset {
  color: #333;
  border-style: solid;
  border-color: #999;
  border-width: 0 1px 1px 0;
  background-color: #f7f7f7;
  padding: 1.0em 0.5em;
}
  /*</group>*/

/*<group=Content Creation Elements>*/
.main-content form .form-text,
.main-content form textarea,
.main-content form#node-form textarea#body,
.main-content form textarea{
  width: 95%;
}  
form #message {
  background-image: none; 
}
.node-form .standard {
  clear: none;
}

  /*</group>*/

/*<group=Form Element Styles>*/
/*<group=Labels>*/
form label:hover, form .form-item label {
  color: #333; 
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
form fieldset .form-item label {
  border-bottom: 1px solid #f7f7f7;
}
form label:hover {
  color: #039;
  border-bottom: 1px solid #039;
}  
  /*</group>*/
form #title, 
.form-text,
.form-password, 
textarea {
  color: #333;
  padding: 2px 4px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e7e7e7;
  border-top-color: #999;
  border-left-color: #999;
}  
.form-radio, .form-checkbox {
  background-color: transparent;
  border: 0;  
}
input[name="edit[pass1]"], 
input#pass,
.block-user .form-submit {
  margin-bottom: 0.25em;
}  
select {
  background-color: #fff;
  color: inherit;
}
  /*</group>*/

/*<group=Submit Button>*/
input[type="submit"]:hover {
  background-color: #E0E9E9;
}
input[type="submit"]:focus {
  background-color: #C6DCDC;
  color: #999;
  border-color: #ddd;
  border-bottom-color: #fff;
  border-right-color: #fff;
}
input[type="submit"] {
  color: #039;
  background: #EDF2F2;
  border: 2px solid;
  border-color: #fff;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
  padding: 2px 4px;
  margin: 1.0em;
  margin-left: 0;
}
  
  /*</group>*/

/*<group=Blocks>*/

#block-sitemenu-0 {
  border: 1px solid #D0D9D9;
  padding: 10px;
  background-color: #EDF2F2; 
}
#block-sitemenu-0 .title {
  font-weight: bold;
  /*display: none; */
}
#block-sitemenu-0 .item-list ul, #block-sitemenu-0 .item-list li {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; 
}
#block-sitemenu-0 .item-list li {
  list-style-type: none;
  display: block;
}
/* User Login Block */
#block-user-0 {
  border: 1px solid #D0D9D9;
  padding: 10px;
  background-color: #EDF2F2; 
}
#block-user-0 .title {
  display: none; 
}
#block-user-0 .item-list ul, #block-user-0 .item-list li {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; 
}
#block-user-0 .item-list li {
  list-style-type: none;
  display: block;
}

#login-block, .block .user-login-block {
  text-align: left; 
}
.user-login-block input#name, 
.user-login-block input#pass {
  width: 90%; 
  margin: 0; 
}
.user-login-block .form-item,
.user-login-block .form-item label {
  margin: 0;
  padding: 0;
}
  /*</group>*/
   
  /*</group>*/
/*<group=Icons>*/
.main-content .item-list .icon {
  color: #aaa;
  padding-left: 0.25em;
}
.main-content .item-list .icon img {
  border: 0;
}
.main-content .item-list .icon a {
  color: #000;
  text-decoration: none;
}
.main-content .item-list .icon a:hover {
  color: #000;
  text-decoration: none;
}
.icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: 0 50%; 
}
.icon-mp3 {  background-image: url(images/icon_mp3.png);}
.icon-avi {  background-image: url(images/icon_avi.png);}
.icon-divx {  background-image: url(images/icon_divx.png);}
.icon-tif {  background-image: url(images/icon_tif.png);}
.icon-ai {  background-image: url(images/icon_ai.png);}
.icon-psd {  background-image: url(images/icon_psd.png);}
.icon-eps {  background-image: url(images/icon_eps.png);}
.icon-png {  background-image: url(images/icon_png.png);}
.icon-svg {  background-image: url(images/icon_svg.png);}
.icon-zip {  background-image: url(images/icon_zip.png);}
.icon-sit {  background-image: url(images/icon_sit.png);}

/*</group>*/

/*<group=Lists>*/

ul.filter-tips-short {
  line-height: 1.0em;
  margin: 0;
  padding: 0;
}
.filter-tips-short li, .more-tips {  
  margin: 0;
  padding: 0;
}
#message .item-list, .main-content .item-list h3 {
  margin-top: 0; 
}
.main-content .item-list {
  margin: 0.5em 0;
}
.main-content .item-list .title {
  font-weight: bold;
  border: 0;
}
.main-content .item-list ul {
  list-style: none;
  margin: 0.3em 0 0.5em 0;
  padding: 0
}
.main-content .item-list ul.sub-list {
  list-style: none;
  margin: 0 0 0.75em 25px;
  padding: 0
}
.main-content .item-list ul li {
  margin: 0 0 0.25em 1.0em;
  padding: 0 0 4px 15px;
  line-height: 1.3em;
  list-style: none;
}
.main-content .file-list, .main-content .file-list li {
  list-style: none;
  list-style-type: none; 
  margin-left: 0;
  padding-left: 0;
}

.main-content ul {
  line-height: 150%;
}
.main-content li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
dt {
  font-weight: bold;
}  
dd {
  margin: 0 0 1em 1em;
}
    
  /*</group>*/

/*<group=Links>*/
  
a, .content a, :link {
  color: #039;
  text-decoration: underline;
}
a:visited, .path a, .path a:visited {
  color: #636;
}
a:hover, .content a:hover {
  color: #333;
  text-decoration: underline;
}
a:active { 
  color: #000; 
}

  /*</group>*/

/*<group=Utility>*/
* html > .node_rating{
  clear: both; /* for IE */
}
.accesskey {
/*  text-decoration: underline; */
}
.update {
  border: 1px solid yellow; 
  padding: 10px; 
  background: url(images/bg_help.gif) repeat scroll 0%;
}
:before {
  color: #004D81;
}
div.picture { 
  float: right;
  border: 1px solid #ddd;
}
.picture {
  margin: 0 0 10px 0;
}
.picture-left {
  float: left;
  margin-right: 10px;
}
.picture-right {
  float: right;
  margin-left: 10px;
}

.xml-icon {
  text-align: right;
}
.hide {
  position: absolute;
  left: -1000em;
  width: 20em;
  clear: none;  
}
.marker {
  color: #f00;
}
.error {
  color: #f00;
}
.ok {
  color: #080;
}
.pageFrame, #nodeFrame {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
#pager {
  color: #004D81;
  text-align: center;
  width: 50%; 
  border-top: 1px solid #BDCEE1;
  padding: 0.5em 0 1.0em 0;
  margin: 1.0em auto 0 auto;
}
#pager a {
  color: #004D81;
}
#pager :visited {
  color: #666;
}

.lfloat {
  float: left;
}
.rfloat {
  float: right;
}

  /*</group>*/

/*<group=theme settings>*/

#system_theme_settings fieldset {/* remove the white space */
  float: left;
  width: 98%;
  clear: none;
}

#system_theme_settings input[type="submit"] {
  float: none;
  clear: both;
  margin-right: 49%; /* force input to end of page after all fieldsets */
}
#system_theme_settings input[type="submit"] + input[type="submit"] {
  margin-left: -49%; /* remove white space between adjacent inputs */
}

  /*</group>*/

/*<group=adminster settings>*/ /* needed for IE 6 */
div.admin .left {
  width: 45%;
}
div.admin .right {
  width: 45%;
}